### Instructions: copy this file to a 'prod.tfvars' or 'dev.tfvars' file for use in your 'terraform apply/plan' commands.

### Datacenter Network Configuration
datacenter_vlan_tag = 75

### DNS
dns_base_tld     = "com"
dns_cluster_sld = "example"
dns_server_01 = ""
dns_server_02 = ""

### AdGuard Network
adguard_host     = "192.168.1.6"
adguard_username = "rreiffenberger"
adguard_password = "RRTimo1$$k1pp3r"

### Proxmox Virtual Environment Varialbes
proxmox_api_url     = "https://IP:8006/api2/json"
pm_api_token_id     = ""
pm_api_token_secret = ""
pm_tls_insecure     = true
pm_pool             = ""

### Kubernetes Cluster Variables
talos_iso              = ""
kube_node_storage_pool = ""

# Target nodes for each group (cycled using element() in the module)
master_target_nodes = ["vm-01"]
worker_target_nodes = ["vm-01"]

# Target IP Addresses for the Master Nodes and Worker Nodes.
# Quantity of nodes is determined by # of IPs in list.
# Format: ["0.0.0.0", "0.0.0.0", "0.0.0.0", ...]
node_gateway_ip     = "192.168.75.1"
master_target_ips   = ["192.168.75.11"]
worker_target_ips   = ["192.168.75.101", "192.168.75.102"]

# Control Plane (Master) Node Settings
kube_master_cpus    = 2
kube_master_ram     = 2048
kube_master_balloon = 2048
kube_master_storage = "30G"

# Worker Node Settings
kube_worker_cpus    = 4
kube_worker_ram     = 4096
kube_worker_balloon = 2048
kube_worker_storage = "150G"